<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Christopher Stock - C.V.</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/main.js"></script>

    <script>
        $(document).ready(function() {
            $('#fullpage').fullpage({
                navigation: true,
                slidesNavigation: true,
                showActiveTooltip: true,
                touchSensitivity: 1,
                css3: true,
                controlArrows: false,
                anchors: ['Home', 'aboutMe', 'Work', 'Education', 'Skills', 'Footer'],
                menu: '#menu'
            });
        });
    </script>
</head>